<div class="about">
  <div class="section1">
    <em><span>Fedezd fel</span><br> a pozitív pszichológia erejét</em>
  </div>
  <iframe src="https://embed.ted.com/talks/lang/hu/shawn_achor_the_happy_secret_to_better_work" width="100%"
          height="450px" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen
          allowFullScreen></iframe>
  <div class="section2">
    <div class="row">
      <div class="col-lg-4 align-content-center">
        <i class="fa fa-modx"></i>
      </div>
      <div class="col-lg-8">
        <div class="marketing-text"><em> Próbáld ki a <br>21 napos pozitív naplózás <br> a <span class="brand">BetterDay</span> alkalmazással</em></div>
      </div>
      <div class="col-lg-12 d-flex align-items-center">
        <button class="btn btn-large-register" routerLink="/signup">Regisztráció</button>
      </div>
    </div>


  </div>
</div>
