<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="diary-post-details">

    <div class="gratitude">
      <div class="title"><i class="fa fa-child"></i> Hála</div>
      <div class="body">
        <textarea
          rows="3"
          ngModel
          name="gratitude1"
        ></textarea>
        <textarea
          rows="3"
          ngModel
          name="gratitude2"
        ></textarea>
        <textarea
          rows="3"
          ngModel
          name="gratitude3"
        ></textarea>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4 exercise">
        <div class="title"><i class="fa fa-heartbeat"></i> Sport</div>
        <div class="body">
          <input
            type="checkbox"
            class="custom-checkbox"
            ngModel
            name="exercise"
          >
        </div>
      </div>
      <div class="col-md-4 meditation">
        <div class="title"><i class="fa fa-leaf"></i> Meditálás</div>
        <div class="body">
          <input
            type="checkbox"
            class="custom-checkbox"
            ngModel
            name="meditation"
          >
        </div>
      </div>
      <div class="col-md-4 kindness">
        <div class="title"><i class="fa fa-blind"></i> Kedvesség</div>
        <div class="body">
          <input
            type="checkbox"
            class="custom-checkbox"
            ngModel
            name="kindness"
          >
        </div>
      </div>
    </div>

</div>


<div class="align-content-center">
  <button class="btn btn-large" type="submit">Mentés</button>
</div>
</form>
