<div class="card card-block p-0 diary-post">
  <div class="row no-gutters">
    <div class="date">07.18.</div>
    <div class="col-xs-6 col-lg-3 gratitude">
      <div class="title"><i class="fa fa-child"></i> Hála</div>
      <div class="body">
        <div class="text">Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf adsfasdkfa
          ksdfas df asdf.
        </div>
        <div class="text">Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf adsfasdkfa
          ksdfas df asdf.
        </div>
        <div class="text">Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf adsfasdkfa
          ksdfas df asdf.
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-lg-3 exercise">
      <div class="title"><i class="fa fa-heartbeat"></i> Sport</div>
      <div class="body">
        <i class="fa fa-check"></i>
      </div>
    </div>
    <div class="col-xs-6 col-lg-3 meditation">
      <div class="title"><i class="fa fa-leaf"></i> Meditálás</div>
      <div class="body">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="col-xs-6 col-lg-3 kindness">
      <div class="title"><i class="fa fa-blind"></i> Kedvesség</div>
      <div class="body">
        <i class="fa fa-check"></i>
      </div>
    </div>
  </div>
</div>
