<div class="diary-post-details">
  <div class="date">07.16.</div>
  <div class="gratitude">
    <div class="title"><i class="fa fa-child"></i> Hála</div>
    <div class="body">
      <textarea rows="3">Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf adsfasdkfa ksdfas df asdf.Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf adsfasdkfa ksdfas df asdf.Lorem ipsum.
      </textarea>
      <div class="gratitude-text">Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf
        adsfasdkfa ksdfas
        df asdf.Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf adsfasdkfa ksdfas
        df asdf.Lorem ipsum dolor sit amiet crerestendur lsdkkdmkmfgk adf adsfdfasds dasdfasdf adsfasdkfa ksdfas
        df asdf.
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-4 exercise">
      <div class="title"><i class="fa fa-heartbeat"></i> Sport</div>
      <div class="body">
        <i class="fa fa-check"></i>
      </div>
    </div>
    <div class="col-md-4 meditation">
      <div class="title"><i class="fa fa-leaf"></i> Meditálás</div>
      <div class="body">
        <input type="checkbox" class="custom-checkbox">
      </div>
    </div>
    <div class="col-md-4 kindness">
      <div class="title"><i class="fa fa-blind"></i> Kedvesség</div>
      <div class="body">
        <i class="fa fa-check"></i>
      </div>
    </div>
  </div>
</div>
<div class="align-content-center">
  <button class="btn btn-large">Mentés</button>
</div>
