<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
<app-happy-card routerLink="/details"></app-happy-card>
