<nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home"><i class="fa fa-modx spin"></i><span class="ml-3">BetterDay</span></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn$ | async; else emptymenu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Áttekintés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/diary">Bejegyzések</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" *ngIf="!getNotesService().notes[getNotesService().getTodayNoteIndex()].isAdded; else editNote"
               routerLink="/new"><i class="fa fa-plus mr-1"></i>Új bejegyzés</a>
            <ng-template #editNote>
              <a class="nav-link"
                 routerLink="/details/{{ getNotesService().notes[getNotesService().getTodayNoteIndex()].id }}"><i class="fa fa-pencil mr-1"></i>Módosítás</a>
            </ng-template>
          </li>
      </ul>
      <ng-template #emptymenu>
        <ul class="navbar-nav mr-auto"><li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">Rólunk</a>
          </li>
        </ul>
      </ng-template>

      <ul class="navbar-nav" *ngIf="!(isLoggedIn$ | async)">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" href="#">Bejelentkezés</a>
          </li>
          <li class="nav-item">
            <a routerLink="/signup" class="nav-link" href="#">Regisztráció</a>
          </li>
      </ul>
      <ul class="navbar-nav" *ngIf="isLoggedIn$ | async">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Kijelentkezés</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

 <div class="feedback-message alert row" ngClass="{{ getAlertService().alertSuccess }}"
       *ngIf="getAlertService().showAlert"
       role="alert">{{ getAlertService().alertMessage }}</div>

