<nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="home"><i class="fa fa-modx mr-3"></i>BetterDay</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="getAuthService().isAuthenticated(); else emptymenu">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Áttekintés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="diary">Naplóm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="new"><i class="fa fa-plus mr-1"></i>Új bejegyzés</a>
          </li>
      </ul>
      <ng-template #emptymenu>
        <ul class="navbar-nav mr-auto"><li class="nav-item"><a class="nav-link"> </a></li></ul>
      </ng-template>

      <ul class="navbar-nav" *ngIf="!authService.isAuthenticated()">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" href="#">Bejelentkezés</a>
          </li>
          <li class="nav-item">
            <a routerLink="/signup" class="nav-link" href="#">Regisztráció</a>
          </li>
      </ul>
      <ul class="navbar-nav" *ngIf="getAuthService().isAuthenticated()">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Kijelentkezés</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="row" *ngIf="getAlertService().showAlert">
  <div class="feedback-message alert" ngClass="{{ getAlertService().alertSuccess }}" role="alert">{{ getAlertService().alertMessage }}</div>
</div>
