$diary-main-color: #5b928e;
$diary-day-size: 2.5rem;

$gratitude-color: #31869A;
$exercise-color: #C4E0EB;
$meditation-color: #DDBE92;
$kindness-color: #D57101;

@keyframes spinIn {
  0% {
    transform: rotate(100deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes smileIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes floatDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes alertDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

nav.navbar {
  .fa-modx {
    color: $diary-main-color;
    font-size: 1.6rem;
  }
}

.overview {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  .day-box {
    //cursor: pointer;
    height: $diary-day-size;
    position: relative;
    border: 1px solid #e8e8e8;
    flex-grow: 1;
    margin-left: -1px;
    &.four {
      background-color: $diary-main-color;
    }
    &.three {
      background-color: lighten($diary-main-color, 10);
    }
    &.two {
      background-color: lighten($diary-main-color, 25);
    }
    &.one {
      background-color: lighten($diary-main-color, 40);
    }
    &.zero {
      background-color: white;
    }
    .date {
      position: absolute;
      top: -1rem;
      left: 0;
      font-weight: 600;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      padding-left: 0.2rem;
      color: $diary-main-color;
      opacity: 0;
      transition: all ease 0.2s;
    }
    &:hover {
      .date {
        top: -2rem;
        opacity: 1;
      }
    }
  }
}

.all-notes-button{
  cursor: pointer;
  background-color: darken($gratitude-color, 5);
  color: rgba(255, 255, 255, 0.8);;
}

.diary-post, .diary-post-details {
  cursor: pointer;
  //height: 10rem;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  position: relative;
  .date {
    position: absolute;
    left: 0;
    top: 1rem;
    color: $gratitude-color;
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: 600;
    transition: left 0.2s;
  }
  .gratitude, .exercise, .meditation, .kindness {
    height: 10rem;
    .title {
      padding: 0.5rem 2rem;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: rgba(255, 255, 255, 0.5) dashed 1px;
      .fa {
        margin-right: 1rem;
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      .text {
        padding: 0.2rem 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
      }
      .fa {
        color: rgba(255, 255, 255, 0.9);
        font-size: 7rem;
        margin: auto;
        &.fa-times {
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
  .gratitude {
    background-color: $gratitude-color;
  }
  .exercise {
    background-color: $exercise-color;
  }
  .meditation {
    background-color: $meditation-color;
  }
  .kindness {
    background-color: $kindness-color;
  }
  &:hover {
    box-shadow: 1px 1px 17px 3px rgba(0, 0, 0, 0.15);
    .date {
      left: -2.3rem;
    }
  }
}

.diary-post-details {
  cursor: auto;
  .gratitude {
    height: auto;
    padding-bottom: 2rem;
    textarea {
      padding: 1rem;
      margin: 1rem 2rem;
      color: white;
      background-color: lighten($gratitude-color, 5);
      outline: hidden;
      border: hidden;
      overflow: auto;
      white-space: normal;
      border-bottom: white solid 1px;
      &:focus {
        outline: hidden;
      }
    }
    .gratitude-text {
      padding: 0.2rem 2rem;
      color: white;
    }
  }
  .exercise, .kindness, .meditation {
    height: 12rem;
    .body {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
      }
    }
  }
  .date {
    left: -2.3rem;
  }
  &:hover {
    box-shadow: none;
  }

}

.login-welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  .fa-modx {
    color: $diary-main-color;
    font-size: 10rem;
    animation: 1.5s ease-out spinIn;
  }
  .welcome-text {
    //animation: 1.5s ease-out fadeIn;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300;
    color: rgba(28, 48, 45, 0.6);
    text-align: center;
    .brand {
      color: $diary-main-color;
      font-weight: 700;
    }
    .delayed {
      opacity: 0;
      animation: 2s ease-out smileIn;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
  }
}

.feedback-message {
  position: absolute;
  opacity: 0;
  animation: 3s alertDown;
  top: 2rem;
  left: 20%;
  right: 20%;
  box-shadow: 1px 1px 17px 3px rgba(0, 0, 0, 0.15);
}

.signup {
  min-height: calc(100vh - 56px);
  background: linear-gradient(#F7F7F7,  rgba(177, 220, 217, 0.55));
  display: flex;
  flex-direction: column;
  .fa-modx {
    color: $diary-main-color;
    font-size: 10rem;
    margin: 2rem auto;
    display: inline-block;
    animation: floatDown 1.5s ease-out;
  }
  .marketing-text {
    margin: 0 auto 3rem auto;
    font-size: 3rem;
    font-weight: 300;
    color: rgba(28, 48, 45, 0.6);
    text-align: center;
    animation: floatDown 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.5s;
    .brand {
      color: $diary-main-color;
      font-weight: 700;
      margin: 0 1rem;
    }
  }
}
