$diary-main-color: #5b928e;
$diary-day-size: 2.5rem;

//$gratitude-color: #9DC2BA;
//$exercise-color: #B6CEC0;
//$meditation-color: #C8D4A4;
//$kindness-color: #F6ECB7;

$gratitude-color: #31869A;
$exercise-color: #C4E0EB;
$meditation-color: #DDBE92;
$kindness-color: #D57101;

//body {
//  background-image: url("/assets/bg.jpg");
//}

.red {
  border: 1px solid red;
}

nav.navbar {
  .fa-modx {
    color: $diary-main-color;
    font-size: 1.6rem;
  }
}

.overview {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
  div {
    height: $diary-day-size;
    border: 1px solid #e8e8e8;
    flex-grow: 1;
    margin-left: -1px;
    &.five {
      background-color: $diary-main-color;
    }
    &.four {
      background-color: lighten($diary-main-color, 10);
    }
    &.three {
      background-color: lighten($diary-main-color, 20);
    }
    &.two {
      background-color: lighten($diary-main-color, 30);
    }
    &.one {
      background-color: lighten($diary-main-color, 40);
    }
    &.zero {
      background-color: white;
    }
  }
}

.diary-post {
  cursor: pointer;
  //height: 10rem;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  .gratitude, .exercise, .meditation, .kindness {
    height: 10rem;
    .title {
      padding: 0.5rem 2rem;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: rgba(255, 255, 255, 0.5) dashed 1px;
      .fa {
        margin-right: 1rem;
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      .text {
        padding: 0.2rem 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white;
        &:first-of-type {
          margin-top: 0.6rem;
        }
      }
      .fa {
        color: rgba(255, 255, 255, 0.9);
        font-size: 7rem;
        margin: auto;
        &.fa-times {
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
  .gratitude {
    background-color: $gratitude-color;
  }
  .exercise {
    background-color: $exercise-color;
  }
  .meditation {
    background-color: $meditation-color;
  }
  .kindness {
    background-color: $kindness-color;
  }
}
