@keyframes spinIn {
  0% {
    transform: rotate(100deg);
    opacity: 0; }
  100% {
    transform: rotate(0);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
@keyframes smileIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.8; } }
@keyframes floatDown {
  0% {
    opacity: 0;
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes alertDown {
  0% {
    opacity: 1;
    transform: translateY(-100px); }
  15% {
    opacity: 1;
    transform: translateY(0); }
  85% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 1;
    transform: translateY(-100px); } }
nav.navbar .fa-modx {
  color: #5b928e;
  font-size: 1.6rem; }

.overview {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem; }
  .overview .day-box {
    height: 2.5rem;
    position: relative;
    border: 1px solid #e8e8e8;
    flex-grow: 1;
    margin-left: -1px; }
    .overview .day-box.four {
      background-color: #5b928e; }
    .overview .day-box.three {
      background-color: #76aaa6; }
    .overview .day-box.two {
      background-color: #a5c7c5; }
    .overview .day-box.one {
      background-color: #d4e5e3; }
    .overview .day-box.zero {
      background-color: white; }
    .overview .day-box .date {
      position: absolute;
      top: -1rem;
      left: 0;
      font-weight: 600;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      padding-left: 0.2rem;
      color: #5b928e;
      opacity: 0;
      transition: all ease 0.2s; }
    .overview .day-box:hover .date {
      top: -2rem;
      opacity: 1; }

.all-notes-button {
  cursor: pointer;
  background-color: #2b7587;
  color: rgba(255, 255, 255, 0.8); }

.diary-post, .diary-post-details {
  cursor: pointer;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  position: relative; }
  .diary-post .date, .diary-post-details .date {
    position: absolute;
    left: 0;
    top: 1rem;
    color: #31869A;
    transform: rotate(-90deg);
    font-size: 1.2rem;
    font-weight: 600;
    transition: left 0.2s; }
  .diary-post .gratitude, .diary-post .exercise, .diary-post .meditation, .diary-post .kindness, .diary-post-details .gratitude, .diary-post-details .exercise, .diary-post-details .meditation, .diary-post-details .kindness {
    height: 10rem; }
    .diary-post .gratitude .title, .diary-post .exercise .title, .diary-post .meditation .title, .diary-post .kindness .title, .diary-post-details .gratitude .title, .diary-post-details .exercise .title, .diary-post-details .meditation .title, .diary-post-details .kindness .title {
      padding: 0.5rem 2rem;
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: rgba(255, 255, 255, 0.5) dashed 1px; }
      .diary-post .gratitude .title .fa, .diary-post .exercise .title .fa, .diary-post .meditation .title .fa, .diary-post .kindness .title .fa, .diary-post-details .gratitude .title .fa, .diary-post-details .exercise .title .fa, .diary-post-details .meditation .title .fa, .diary-post-details .kindness .title .fa {
        margin-right: 1rem; }
    .diary-post .gratitude .body, .diary-post .exercise .body, .diary-post .meditation .body, .diary-post .kindness .body, .diary-post-details .gratitude .body, .diary-post-details .exercise .body, .diary-post-details .meditation .body, .diary-post-details .kindness .body {
      display: flex;
      flex-direction: column; }
      .diary-post .gratitude .body .text, .diary-post .exercise .body .text, .diary-post .meditation .body .text, .diary-post .kindness .body .text, .diary-post-details .gratitude .body .text, .diary-post-details .exercise .body .text, .diary-post-details .meditation .body .text, .diary-post-details .kindness .body .text {
        padding: 0.2rem 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: white; }
      .diary-post .gratitude .body .fa, .diary-post .exercise .body .fa, .diary-post .meditation .body .fa, .diary-post .kindness .body .fa, .diary-post-details .gratitude .body .fa, .diary-post-details .exercise .body .fa, .diary-post-details .meditation .body .fa, .diary-post-details .kindness .body .fa {
        color: rgba(255, 255, 255, 0.9);
        font-size: 7rem;
        margin: auto; }
        .diary-post .gratitude .body .fa.fa-times, .diary-post .exercise .body .fa.fa-times, .diary-post .meditation .body .fa.fa-times, .diary-post .kindness .body .fa.fa-times, .diary-post-details .gratitude .body .fa.fa-times, .diary-post-details .exercise .body .fa.fa-times, .diary-post-details .meditation .body .fa.fa-times, .diary-post-details .kindness .body .fa.fa-times {
          color: rgba(255, 255, 255, 0.4); }
  .diary-post .gratitude, .diary-post-details .gratitude {
    background-color: #31869A; }
  .diary-post .exercise, .diary-post-details .exercise {
    background-color: #C4E0EB; }
  .diary-post .meditation, .diary-post-details .meditation {
    background-color: #DDBE92; }
  .diary-post .kindness, .diary-post-details .kindness {
    background-color: #D57101; }
  .diary-post:hover, .diary-post-details:hover {
    box-shadow: 1px 1px 17px 3px rgba(0, 0, 0, 0.15); }
    .diary-post:hover .date, .diary-post-details:hover .date {
      left: -2.3rem; }

.diary-post-details {
  cursor: auto; }
  .diary-post-details .gratitude {
    height: auto;
    padding-bottom: 2rem; }
    .diary-post-details .gratitude textarea {
      padding: 1rem;
      margin: 1rem 2rem;
      color: white;
      background-color: #3797ad;
      outline: hidden;
      border: hidden;
      overflow: auto;
      white-space: normal;
      border-bottom: white solid 1px; }
      .diary-post-details .gratitude textarea:focus {
        outline: hidden; }
    .diary-post-details .gratitude .gratitude-text {
      padding: 0.2rem 2rem;
      color: white; }
  .diary-post-details .exercise, .diary-post-details .kindness, .diary-post-details .meditation {
    height: 12rem; }
    .diary-post-details .exercise .body, .diary-post-details .kindness .body, .diary-post-details .meditation .body {
      display: flex;
      align-items: center;
      justify-content: center; }
      .diary-post-details .exercise .body input, .diary-post-details .kindness .body input, .diary-post-details .meditation .body input {
        width: 3rem;
        height: 3rem;
        margin-top: 2rem; }
  .diary-post-details .date {
    left: -2.3rem; }
  .diary-post-details:hover {
    box-shadow: none; }

.login-welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem; }
  .login-welcome .fa-modx {
    color: #5b928e;
    font-size: 10rem;
    animation: 1.5s ease-out spinIn; }
  .login-welcome .welcome-text {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300;
    color: rgba(28, 48, 45, 0.6);
    text-align: center; }
    .login-welcome .welcome-text .brand {
      color: #5b928e;
      font-weight: 700; }
    .login-welcome .welcome-text .delayed {
      opacity: 0;
      animation: 2s ease-out smileIn;
      animation-delay: 2s;
      animation-fill-mode: forwards; }

.feedback-message {
  position: absolute;
  opacity: 0;
  animation: 3s alertDown;
  top: 2rem;
  left: 20%;
  right: 20%;
  box-shadow: 1px 1px 17px 3px rgba(0, 0, 0, 0.15); }

.signup {
  min-height: calc(100vh - 56px);
  background: linear-gradient(#F7F7F7, rgba(177, 220, 217, 0.55));
  display: flex;
  flex-direction: column; }
  .signup .fa-modx {
    color: #5b928e;
    font-size: 10rem;
    margin: 2rem auto;
    display: inline-block;
    animation: floatDown 1.5s ease-out; }
  .signup .marketing-text {
    margin: 0 auto 3rem auto;
    font-size: 3rem;
    font-weight: 300;
    color: rgba(28, 48, 45, 0.6);
    text-align: center;
    animation: floatDown 1.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0.5s; }
    .signup .marketing-text .brand {
      color: #5b928e;
      font-weight: 700;
      margin: 0 1rem; }

/*# sourceMappingURL=betterday.css.map */
