<h5 class="mt-3">Haladási napló</h5>
<div class="overview m-3">
  <div class="three"></div>
  <div class="five"></div>
  <div class="two"></div>
  <div class="four"></div>
  <div class="five"></div>
  <div class="four"></div>
  <div class="three"></div>
  <div class="five"></div>
  <div class="five"></div>
  <div class="one"></div>
  <div class="four"></div>
  <div class="two"></div>
  <div class="five"></div>
  <div class="five"></div>
  <div class="three"></div>
  <div class="three"></div>
  <div class="four"></div>
  <div class="zero"></div>
  <div class="five"></div>
  <div class="four"></div>
  <div class="five"></div>
  <div class="four"></div>
  <div class="five"></div>
  <div class="five"></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<hr>

<!--<app-happy-card routerLink="/details"></app-happy-card>-->
<!--<app-happy-card routerLink="/details"></app-happy-card>-->
<!--<app-happy-card routerLink="/details"></app-happy-card>-->
<app-happy-card routerLink="/details"
                *ngFor="let noteElement of notes" [note]="noteElement"></app-happy-card>

<div>
  <button class="btn btn-large btn-block mb-5" routerLink="/diary">Összes bejegyzés</button>
</div>
