<h5 class="mt-3">Haladási napló</h5>
<div class="overview">
  <div class="day-box"
       (click)="onLoadEdit(note)"
       *ngFor="let note of allNotes"
       [ngClass]="{
          'zero': note.getDailySuccess() === 0,
          'one': note.getDailySuccess() === 1,
          'two': note.getDailySuccess() === 2,
          'three': note.getDailySuccess() === 3,
          'four': note.getDailySuccess() === 4
        }"
       [ngStyle]="{'cursor': getCursorType(note)}">
    <div class="date">{{note.getIdDate() | date: 'M.d.'}}</div>
  </div>

</div>

<hr>
<h5 class="mt-3">Legutóbbi bejegyzések</h5>
<app-happy-card *ngIf="addedNotes.length > 0"
                routerLink="/details/{{addedNotes[0].id}}" [note]="addedNotes[0]"></app-happy-card>
<app-happy-card *ngIf="addedNotes.length > 1"
                routerLink="/details/{{addedNotes[1].id}}" [note]="addedNotes[1]"></app-happy-card>
<app-happy-card *ngIf="addedNotes.length > 2"
                routerLink="/details/{{addedNotes[2].id}}" [note]="addedNotes[2]"></app-happy-card>

<div>
  <button class="all-notes-button btn btn-large btn-block mb-5" routerLink="/diary">Összes bejegyzés</button>
</div>
